*{
    margin: 0%;
    padding: 0%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.items{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.logo{
    margin:0 80px;
}
.nav-item{
    font-size: 22px;
    font-family: 'Lucida Sans';
    font-weight: lighter;
}
.active-item{
    font-size: 25px;
    font-family: 'Lucida Sans';
    font-weight: bold;
    color: orangered;
}
.bars{
    display: none;
}
.intro-section{
    display: flex;
    width: 100%;
    
}
.right-section{
    max-width: 37%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    align-items: center;
}
.headphones{
    width: 500px;
    object-fit: cover;
}
.left-section{
    width: 63%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 3rem 0 0 0 ;
    padding: 0 4rem;
}

.dots{
    display: flex;
    gap: 2rem;
}
.dot{
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.yellow-dot{
    background-color: yellow;
}
.tomato-dot{
    background-color: orangered;
}
.action-btn{
    background-color: orangered;
    color: white;
    padding: 15px 30px;
    border: none;
    font-size: 24px;
    font-weight: lighter;
    border-radius: 30px;
}
h3{
    font-size: 36px;
    font-family: 'Lucida Sans';
    font-weight: lighter;  
}
h1{
    font-size: 75px;
    font-family: Lucida Sans;
    font-weight: bolder;  
}
.sub-headline img{
    background-color: orangered;
    border-radius: 50px;
    padding: 2px;
}
.sub-headline{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 21px;
    font-family: poppins;
    font-weight: lighter;
    margin: 0 0 0 6rem;
}
.sub-headliness{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text{
    padding: 22px 5px ;
    color: rgb(136, 132, 132);
    font-family: poppins;
    font-weight: lighter;
}
.left-btns{
    display: flex;
    gap: 2rem;
}
.items{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}




/* ........................................................................................ */
@media only screen and (max-width: 980px) {
    .nav-icons{
        display: none;
    }
    .intro-section{
        display: flex;
        flex-direction: column-reverse;
    }
    .right-section{
        margin: 20px;
        min-width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;
        align-items: center; 
    }
    .left-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin: 3rem 0 0 0 ;
        padding: 0 4rem;
    }





}




/* ........................................................................................ */
 @media only screen and (max-width: 600px) {
    .nav-icons{
        display: none;
    }
    .items{
        display: none;
    }
    .logo{
        margin:0 ;
        width: 80px;
    }
    nav{
        padding: 20px;
    }
    .bars{
        display: block;
    }
    .left-section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 35px;
        margin: 3rem 0 0 0 ;
        padding: 0 1rem;
    }
    .text{
        padding: 22px 0;
        color: rgb(136, 132, 132);
        font-family: poppins;
        font-weight: lighter;
    }
    .left-btns{
        display: flex;
        gap: 0.5rem;
        justify-content: center;
    }
    .left-btns .action-btn{
        font-size: 18px;
    }
    h1{
        font-size: 45px;  
    }

    
    




  } 